name = "KrylovPreconditioners"
uuid = "45d422c2-293f-44ce-8315-2cb988662dec"
authors = ["Alexis Montoison <alexis.montoison@polymtl.ca>"]
version = "0.3.1"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
LightGraphs = "093fc24a-ae57-5d10-9952-331d41423f4d"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Metis = "2679e427-3c69-5b7f-982b-ece356f1e94b"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[weakdeps]
AMDGPU = "21141c5a-9bdb-4563-92ae-f87d6854732e"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
oneAPI = "8f75cd03-7ff8-4ecb-9b8f-daf728133b1b"

[extensions]
KrylovPreconditionersAMDGPUExt = "AMDGPU"
KrylovPreconditionersCUDAExt = "CUDA"
KrylovPreconditionersOneAPIExt = "oneAPI"

[compat]
AMDGPU = "1.0"
Adapt = "4"
CUDA = "5.7.3"
oneAPI = "2.0.1"
KernelAbstractions = "0.9"
Krylov = "0.10.0"
LightGraphs = "1"
LinearAlgebra = "1.10"
Metis = "1"
Random = "1.10"
SparseArrays = "1.10"
Test = "1.10"
julia = "1.10"

[extras]
Krylov = "ba0b0d4f-ebba-5204-a429-3ac8c609bfb7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Krylov", "Random", "Test"]
